Header ul{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
list-style-type: none;
  }
  
Header li {
display: list-item;
text-align: -webkit-match-parent;
}
  
Header a {
text-decoration-line: none;
color: black;
}
  
Header {
display: flex;
position: sticky;
top: 0px;
right: 0px;
padding: 39px;
z-index: 9999;
background-color: ghostwhite;
}
  
.top_list{
display: flex;
position: absolute;
top: 0px; right: 0;
padding-right: 20px;
}
  
.top_link{
font-size: 12px;
color: black;
margin-left: 20px;
}
  
.top_header_ul{
display: flex;
top: 20px;
right: 0;
padding: 0px 40px 0;
height: 22px;
}
  
.logo{
  color: black;
  font-size: 20px;
}

.www{
  display: flex;
  position: absolute;
  top: 20px; right: 0;
  padding: 18px 40px 0;
  height: 22px;
}

.menu{
  display: flex;
  padding-left: 60px;
  color: black;
}
